# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/
cmake-build-release/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
CodeAcademy/Fifth/Fifth.iml
CodeAcademy/Fourth/Fourth.iml
CodeAcademy/Second/Second.iml
CodeAcademy/Third/Third.iml
CodingBat/CodingBat.iml
Hacker_Rank/Hacker_Rank.iml
Head_First/Head_First.iml
danLib/danLib.iml
/CodingBat/CodingBat.iml
/C169/out/
C169 (copy)/
C169/README.md
/C169/.idea/
Advisor_DB/Advisor Info.iml
Advisor_DB/database.ser
Advisors_Info v1/Advisors_Info v1.iml
/mooc-2013-OOProgrammingWithJava-PART1/week1-002.HelloWorld/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week1-003.Spruce/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week1-001.Name/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week1-004.ChangingVariables/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week1-005.SecondsOfTheYear/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week1-006.Addition/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week1-007.Multiplication/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week1-001.Name/build/
/mooc-2013-OOProgrammingWithJava-PART1/week1-002.HelloWorld/build/
/mooc-2013-OOProgrammingWithJava-PART1/week1-003.Spruce/build/
/mooc-2013-OOProgrammingWithJava-PART1/week1-005.SecondsOfTheYear/build/
/mooc-2013-OOProgrammingWithJava-PART1/week1-006.Addition/build/
/.metadata/
/mooc-2013-OOProgrammingWithJava-PART1/week2-028.FromHundredToOne/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week2-029.EvenNumbers/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week2-025.SumOfThreeNumbers/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week2-027.FromOneToHundred/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week2-026.SumOfManyNumbers/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week2-030.UpToCertainNumber/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week2-031.LowerLimitAndUpperLimit/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week2-041.GuessingNumberGame/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week2-042.Hangman/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week2-025.SumOfThreeNumbers/build/
/mooc-2013-OOProgrammingWithJava-PART1/week2-026.SumOfManyNumbers/build/
/mooc-2013-OOProgrammingWithJava-PART1/week2-027.FromOneToHundred/build/
/mooc-2013-OOProgrammingWithJava-PART1/week2-028.FromHundredToOne/build/
/mooc-2013-OOProgrammingWithJava-PART1/week2-029.EvenNumbers/build/
/mooc-2013-OOProgrammingWithJava-PART1/week2-030.UpToCertainNumber/build/
/mooc-2013-OOProgrammingWithJava-PART1/week2-031.LowerLimitAndUpperLimit/build/
/mooc-2013-OOProgrammingWithJava-PART1/week2-041.GuessingNumberGame/build/
/mooc-2013-OOProgrammingWithJava-PART1/week2-042.Hangman/build/
/mooc-2013-OOProgrammingWithJava-PART1/week4-076.Menu/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week4-083.HangmanLogic/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week4-076.Menu/build/
/mooc-2013-OOProgrammingWithJava-PART1/mooc-2013-OOProgrammingWithJava-PART1/week4-083.HangmanLogic/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/mooc-2013-OOProgrammingWithJava-PART1/week4-076.Menu/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/mooc-2013-OOProgrammingWithJava-PART1/week5-091.ExtendingMyDate/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/mooc-2013-OOProgrammingWithJava-PART1/week5-090.TeamAndPlayers/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week5-090.TeamAndPlayers/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week5-091.ExtendingMyDate/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week1-004.ChangingVariables/build/
/mooc-2013-OOProgrammingWithJava-PART1/week1-007.Multiplication/build/
/mooc-2013-OOProgrammingWithJava-PART1/week4-083.HangmanLogic/build/
/mooc-2013-OOProgrammingWithJava-PART1/week5-090.TeamAndPlayers/build/
/mooc-2013-OOProgrammingWithJava-PART1/week5-091.ExtendingMyDate/build/
/mooc-2013-OOProgrammingWithJava-PART1/week6-101.Library/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week6-100.NightSky/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week6-100.NightSky/build/
/mooc-2013-OOProgrammingWithJava-PART1/week6-101.Library/build/
/mooc-2013-OOProgrammingWithJava-PART2/week7-week7_04.ThingSuitcaseAndContainer/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART2/week7-week7_01.Smileys/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART2/week7-week7_07.Dictionary/nbproject/private/