.root {-fx-background-image: url("background.png");}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #0E1D33;
    -fx-text-alignment: center;
}
#login-boxes{
    -fx-font-size:18px;
    -fx-font-family: "Arial Narrow";
    -fx-background-color: BLACK;
    -fx-text-fill: white;
}

#actiontarget {
    -fx-fill:WHITE;
    -fx-font-weight:bold;
    -fx-text-alignment: right;

}


.button {
    -fx-text-fill:white;
    -fx-font-family:"Arial Narrow";
    -fx-font-weight:bold;
    -fx-background-color:linear-gradient(#61a2b1,#2A5058);

}